SharedFiles/MaxMind/GeoLite2-ASN.mmdb
SharedFiles/MaxMind/GeoLite2-City.mmdb
SharedFiles/MaxMind/GeoLite2-Country.mmdb
Genie.Web.Api/obj/
Genie.Web.Api/.vs/
Genie.Scratch/obj/
Genie.IngressConsumer/obj/
Genie.Extensions.Genius/obj/
GameLicenseExample/obj/
Genie.Actors/obj/
Genie.Benchmarks/BenchmarkDotNet.Artifacts/
Genie.Benchmarks/obj/
Genie.Common/obj/
Genie.IngressConsumer/.vs/
Genie.Common.Adapters.Crypto/obj/
docker/persistence/volumes/
Genie.Benchmarks/bin/
Genie.Common.Adapters.Crypto/bin/
Genie.Common.Crypto.Nist/bin/
Genie.Common.Crypto.Nist/obj/
Genie.Common/bin/
Genie.Core/obj/
Genie.Core/bin/
Genie.Extensions.Genius/bin/
Genie.IngressConsumer/bin/
Genie.Scratch/bin/
Genie.Utils/obj/
Genie.Web.Api/bin/
Genie.Adapters.Serializers/Genie.Adapters.Serializers.Avro/obj/
Genie.Adapters.Serializers/Genie.Adapters.Serializers.Avro/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.SqlServer/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.SqlServer/bin/
GameLicenseExample/bin/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.MQTT/obj/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.NATS/bin/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.NATS/obj/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.Pulsar/bin/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.Pulsar/obj/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.RabbitMQ/bin/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.RabbitMQ/obj/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.ZeroMQ/bin/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.ZeroMQ/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistencce.CouchDB/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistencce.CouchDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Aerospike/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Aerospike/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.ArangoDB/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.ArangoDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Cassandra/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Cassandra/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Clickhouse/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Clickhouse/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.CockroachDB/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.CockroachDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Couchbase/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Couchbase/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.CrateDB/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.CrateDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.DB2/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.DB2/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Elasticsearch/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Elasticsearch/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.InfluxDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.MariaDB/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.MariaDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Marten/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Marten/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Milvus/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Milvus/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.MongoDB/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.MongoDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Neo4j/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Neo4j/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Oracle/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Oracle/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Postgres/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Postgres/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.RavenDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Redis/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.RavenDB/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.Redis/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.ScyllaDB/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.ScyllaDB/obj/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.SingleStore/bin/
Genie.Adapters.Persistencce/Genie.Adapters.Persistence.SingleStore/obj/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.MQTT/bin/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.Kafka/obj/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.Kafka/bin/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.Aeron/obj/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.Aeron/bin/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.ActiveMQ/obj/
Genie.Adapters.Brokers/Genie.Adapters.Brokers.ActiveMQ/bin/
Genie.Actors/bin/
Genie.Benchmarks/geonames-postal-code.parquet
