SharedFiles/MaxMind/GeoLite2-ASN.mmdb
SharedFiles/MaxMind/GeoLite2-City.mmdb
SharedFiles/MaxMind/GeoLite2-Country.mmdb
Genie.Web.Api/obj/
Genie.Web.Api/.vs/
Genie.Scratch/obj/
Genie.IngressConsumer/obj/
Genie.Extensions.Genius/obj/
GameLicenseExample/obj/
Genie.Actors/obj/
Genie.Benchmarks/BenchmarkDotNet.Artifacts/
Genie.Benchmarks/obj/
Genie.Common/obj/
Genie.IngressConsumer/.vs/
Genie.Common.Adapters.Crypto/obj/
